body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://media.istockphoto.com/id/1212789876/video/animated-video-of-woman-typing-on-laptop-keyboard-top-view-working-space-animation.jpg?s=640x640&k=20&c=TZHXAFotfiC08O_v5WD25HXqf593bDIAQZbAs3nxvpU=);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 


}

header {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="url"] {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#shortened-links {
    width: 100%;
    max-width: 400px;
}

.shortened-link {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.copy-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
footer {
    margin-top: 20px;
    text-align: center;
    background-color: #000000d0;
    color: #fff;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
